/*Add your CSS*/
*{
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #2B2B2B;
}
.name-foodmap {
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2B2B2B;
  color: #FF8C00;
  font-size: 500%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 3;
}
.title{
  color: #FF8C00;
  font-size: 300%;
}
#map, .images {
  display: none;  
}
img{
  width: 30vw;
  height: 20vh;
  margin: 1vw;
}